* {
    margin: 0 auto;
    padding: 0px;
}

body {
    background-color: grey;
}

.main-container {
    margin: 0 auto;
    padding: 0;
    width: 100%;
}

.container {
    margin: 0 auto;
    width: 100%;
    height: 600px;
}


td {
    padding: 0;
    width: 7px;
    height: 7px;
    background-color: dimgrey;
}

.alive {
    background-color: white;
}

.main-container .button-wrapper {
    margin: 0 auto;
    width: 100px;
    height: 50px;
}

.button-wrapper button {
    width: 100px;
    height: 50px;
}